body{
    margin: 0px;
}

article {
    height: 60vh;
    width: 35vw;
    background-color: turquoise;
    margin: auto;
}

p {
    margin: 0px;
}

.data_box_width {
    /* padding-top: 1%; */
    width: 99.9%;
    height: 25%;
    border-bottom: 0.5px solid black;
    display: flex;
}

.image_box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image_box img {
    width: 100%;
    height: 80%;
    object-fit: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image_box p {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
}

.data_box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list_data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    width: 100%;
    height: 80%;
}

.date_time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    width: 100%;
    height: 20%;
}

@media screen and (max-width:1650px) {
    article {
        width: 100vw;
    }

    .list_data {
        /* align-content: center; */
        /* padding-bottom: 10%; */

    }

}