::-webkit-scrollbar {
    display: none;
}

.row:before,
.row:after {
    display: none !important;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

thead {
    /* flex: 0 0 auto; */
    width: 100%;
}

.thead-sub{
    width: 8%;
}
.thead-uuid{
    width: auto;
}
.thead-type{
    width: auto;
}
.thead-delete{
    width: 13%;
}


tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 650px;
    /* padding-left: 7px; */
    font-size: 3vmin;
}



tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}


tr img {
    width: 25%;
    cursor: pointer;
}

th {
    text-align: center;
}

[name="PowerMeter"] a {
    text-decoration: underline;
}

@media screen and (max-height:850px) {
    tbody {
        height: 600px;
    }

    /* tr img{
        width: 50%;
    } */
}

@media screen and (max-height:680px) {
    tbody {
        height: 400px;
    }
}

@media screen and (max-width:990px) {
    .thead-sub{
        width: 15%;
    }
    
    tr img {
        width: 40%;
    }

}


@media screen and (max-width:576px) {
    
    .thead-delete{
        width: 20%;
    }
}