{% extends 'base1.html' %}

{%block css_content%}
<link href="{{url_for('static',filename='css/Device_management.css')}}" rel="stylesheet">
{% endblock %}

{%block app_content%}
<div class="pt-3">
    <table class="table table-bordered" id="tab">
        <thead class="thead-dark d-flex">
            <tr class="">
                <th class=" thead-sub"> sub <input type="checkbox" id="checkall"></th>
                <th class=" thead-uuid">UUID</th>
                <th class=" thead-type">Type</th>
                <th class=" thead-delete">delete</th>

                <!-- <th scope="col">Handle</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- 樣式 -->
            <a href=""></a>
            <!-- <tr>
                <th class="col-2"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                <td class="col-6"><a href="">mark</a></td>
                <td class="col-4">Otto</td>
            </tr> -->
            {%for data in tabledata%}
            <tr id={{data['Device_Mac']}}>
                <th class=" thead-sub"><input type="checkbox" name="Checkbox[]"
                        aria-label="Checkbox for following text input" {{ "checked" if data['Device_status']==True}}>
                </th>
                <td class=" thead-uuid">{{data['Device_Mac']}}</td>
                <td class=" thead-type">{{data['Device_type']}}</td>
                <th class=" thead-delete"><img src="{{url_for('static',filename='img/Device_management/delete.svg')}}"
                        alt=""></th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <button id="send_data" type="button" class="btn btn-primary">Save</button>
    <button id="clear_data" type="button" class="btn btn-danger">clear_all_device</button>
</div>

{%endblock%}

{%block js_content%}
<script src="{{url_for('static',filename='js/Device_management.js')}}"></script>
{%endblock%}