{% extends 'base1.html' %}

{%block css_content%}
<link href="{{url_for('static',filename='css/html5_qrcode.css')}}" rel="stylesheet">

{%endblock%}


{%block app_content%}

<div class="container" id="alertbox">
    <!-- <div class="alert alert-success" id="msg" role="alert">
        A simple success alert—check it out!
    </div> -->

</div>

<div class="d-flex align-items-center justify-content-center flex-column pt-5" id="camera">
    <div id="reader"> </div>
    <div class="scan-box ">
        <label>dongle_id</label>
        <div class="d-flex">
            <input class="form-control" id="QR_codedata">
            <button class="btn btn-primary" id="bind">bind</button>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" id="start-scan">start_scan</button>
    <button type="button" class="btn btn-danger d-none" id="end-scan">stop_scan</button>
</div>


{%endblock%}
{%block js_content%}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/html5_qrcode.js')}}"></script>
{%endblock%}