{% extends 'base1.html' %}

{%block css_content%}
<link href="{{url_for('static',filename='css/register.css')}}" rel="stylesheet">
{% endblock %}

{%block app_content%}

<div class="list_log">
    <!-- <div class="alert alert-danger" role="alert">
        test
    </div> -->
</div>
<h1 class="">register</h1>
<div class="row">

    <div class="col-md-8">
        {%if register_state%}
        <div class="alert alert-danger" role="alert">
            {{register_state}}
        </div>
        {%endif%}
        <form id="form_data">
            <!-- <div class="form-group">
                {%if line_uuid%}
                <label for="disabledTextInput">Line_uuid</label>
                <input readonly type="text" class="form-control" id="Line_uuid" name="Line_uuid" value="{{line_uuid}}" >
                {%endif%}
            </div> -->

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="user" name="user"
                    required="required" oninput="setCustomValidity('');"
                    ">
            </div>

            <div class="form-group ">
                <label>Password</label>
                <div class="input-group">
                    <input type="password" class="form-control " id="password" name="password"
                        required="required" oninput="setCustomValidity('');"
                       ">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><img id="eye_img" src="{{url_for('static',filename='img/register/open_eye.svg')}}" alt=""></button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>confirm</label>
                <input type="password" class="form-control" id="confirm" name="confirm"
                    required="required" oninput="setCustomValidity('');"
                    ">
            </div>
            <div class="pb-2" id="myCaptcha"></div>
          
            <button id="form_btn" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{%endblock%}

{%block js_content%}

<script src="{{url_for('static',filename='js/register.js')}}"></script>
{%endblock%}